.article {
  padding-bottom: 48px;

  &__paragraph {
    font-family: Cinzel, serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #161616;
    padding-top: 24px;
  }

  &__red {
    font-family: Cinzel, serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: #d12d35;
  }

  &:last-of-type {
    padding-bottom: 40px;
  }
}
