.article {
  &__section {
    display: flex;
    flex-direction: column;
    padding-bottom: 84px;

    @media (min-width: 744px) {
      flex-direction: row;
      gap: 75px;
      padding-bottom: 156px;
    }

    @media (min-width: 1260px) {
      gap: 111px;
      padding-bottom: 134px;
    }
  }

  @media (min-width: 744px) {
    &__cos,
    &__form {
      flex: 1;
    }
  }

  @media (min-width: 1260px) {
    &__cos {
      display: flex;
      > *:first-child {
        margin-right: 24px;
      }
    }
  }

  &__contact {
    padding-top: 48px;

    @media (min-width: 1260px) {
      min-width: 237px;
    }

    &--title {
      font-family: Cinzel, serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 27px;
      color: #161616;
      padding-bottom: 16px;
    }

    &--item {
      padding-bottom: 8px;
    }

    &--label {
      font-family: Cinzel, serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 27px;
      color: #161616;
      padding-bottom: 4px;
    }

    &--infophone,
    &--infoaddress {
      font-family: Cinzel, serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 27px;
      color: #3e3e3e;
      text-decoration: none;

      &:hover {
        color: #d12d35;
      }
    }
  }

  &__form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding-top: 48px;

    & > *:nth-last-child(2) {
      margin-bottom: 16px;
    }
  }

  &__form-label {
    display: none;
  }

  &__form-textarea {
    height: 144px;
    resize: none;
  }

  &__form-input,
  &__form-textarea {
    width: 280px;
    background-color: #f8f8fa;
    border: 1px solid transparent;
    color: #161616;
    font-family: Cinzel, serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding: 14px 11px;
    box-sizing: border-box;
    text-align: left;

    @media (min-width: 744px) {
      width: 288px;
    }

    @media (min-width: 1260px) {
      width: 411px;
    }

    &::placeholder {
      color: #7e7e83;
      text-align: left;
    }

    &:hover {
      border: 1px solid #d5d7de;

      &::placeholder {
        color: #161616;
      }
    }

    &:focus {
      border: 1px solid #161616;
      outline: none;
      cursor: text;
    }

    &:focus::placeholder {
      color: #161616;
    }
  }
}
