.footer {
  min-width: 320px;
  min-height: 180px;
  background-image: url('../../public/images/footerimage.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-width: 744px) {
    min-height: 359px;
    background-position: 63% 50%;
  }
}
