.menu__section {
  background-color: #eb343d;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 20px;

  position: absolute;
  top: 0;
  left: -150%;
  width: 100%;
  height: 100%;
}
