.title {
  font-family: Cinzel, serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -1.5px;
  text-align: center;
  color: #fff;
  padding-top: 200px;

  @media (min-width: 744px) {
    font-size: 64px;
    line-height: 64px;
    padding-top: 256px;
  }

  @media (min-width: 1260px) {
    font-size: 80px;
    line-height: 80px;
    padding-top: 198px;
  }
  &--secondary {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5px;
    color: #161616;
    padding-top: 0;

    @media (min-width: 600px) {
      font-size: 48px;
      line-height: 48px;
    }
  }

  &--left {
    text-align: left;
  }

  &__red {
    font-size: 12px;
    line-height: 16.8px;
    color: #d12d35;
  }

  &--third {
    grid-column: span 2;
    font-size: 24px;
    line-height: 30px;
    text-align: left;
    color: #161616;
    padding-top: 0;
  }
  &--section {
    font-family: Cinzel, serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5px;
    text-align: center;
    padding-top: 100px;
    color: #161616;

    @media (min-width: 744px) {
      font-family: Cinzel, serif;
      font-weight: 700;
      font-size: 48px;
      line-height: 48px;
      letter-spacing: -1.5px;
      text-align: center;

      padding-top: 140px;
    }
  }
  &--explore {
    @media (min-width: 744px) {
      padding: 140px 104px 0;
    }
  }
  &__center {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    text-align: center;

    padding-top: 8px;
    padding-bottom: 48px;
    color: #161616;
  }
}
